### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/src/source(reserved).txt
/src/сдвиг элемента для шифровки-расшифровки с помощью заданного алфавита.txt
/src/часть проверки ключа шифрования.txt
/src/Cryptanalyzer/Playground.java
/src/source(eng).txt
